<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    {% include 'main/head.html' %}<br><br>
    {% include 'main/menu.html' %}<br><br>
    {% load staticfiles %}
</head>
<body  background="{% static 'images/smart17.jpg' %}">
<style>
        body{
            text-align: center;
            background-size: cover;
            background-repeat:no-repeat;
        }
    </style>

<table align="center" border="0">
    <tr>

        <th width="400">
        The text on this page is intended to help you jump start your design by suggesting the sort of content you may want to include, but don't let it limit you. The same is also true for the link text - feel free to change the names of the links to better suit your particular needs. The Home Page layout can be used for multiple pages on your site, or you can choose from the Text, Catalogue, Product, or Calendar layouts as well. Don't be afraid to get creative and combine different page layouts to make your site as engaging as possible. If you have any questions about using Contribute to edit these pages, refer to the Read Me file included with the download or to the Contribute Help System. Have fun and make a great website!
        </th>
    </tr>
</table>
</body>
</html>