<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <title>Contact Us</title>
{% load staticfiles %}
</head>
<body  background="{% static 'images/smart18.jpg' %}">
<style>
        body{
            text-align: center;
            background-size: cover;
            background-repeat:no-repeat;
        }
    </style>
{% include 'main/head.html' %}<br><br>
{% include 'main/menu.html' %}<br><br>
<table align="center" border="0">
    <tr>

        <th width="500">
            TATA Motors
                <br>
                HiTech City
                <br>
                Hyderabad
                <br>
                Ph : 040-123456
                <br>
                Mobile : 9999999999
                <br>
                Email : tata@tata.com
        </th>
    </tr>
</table>
</body>
</html>