{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<br><br>
<table align="center">
    <tr>
        <th>
            <img width="150" height="90" src="{% static 'images/smart.jpg' %}">
        </th>
        <th     >
            <center>
            <font size="6" face="Arial Black">Smart Inventory </font><br>
            <font size="4" face="Arial">  You need our requirement</font>
        </center>
        </th>
    </tr>
</table>


</body>
</html>