<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >

            <table align="center" border="0">
                <tr>
                    <th width="80">
                    <a href="/home/">Home</a>
                    </th>
                    <th width="80">
                    <a href="/login/">Login</a>
                    </th>
                    <th width="80">
                    <a href="/viewalltenders/">ViewTenders</a>
                    </th>
                    <th width="80">
                    <a href="/aboutus/">AboutUs</a>
                    </th>
                    <th width="80">
                    <a href="/contactus/">ContactUs</a>
                    </th>
                </tr>
            </table>



</body>
</html>