<html>
<body>

{% include 'analyzer/analyzer_menu.html' %}<br><br>


        <table align="center" border="2">
            <tr>
                <th width="100">Deliver_ID</th>
                <th width="100">Tender_ID</th>
                <th width="100">Product_Name</th>
                <th width="100">Delivery_Date</th>
            </tr>
            {% for x in object_list %}
                <tr>
                <td width="100">{{ x.deliver_id }}</td>
                <td width="100">{{ x.tender_id }}</td>
                <td width="100">{{ x.product_name }}</td>
                <td width="100">{{ x.deliver_date }}</td>
                </tr>
            {% endfor %}
        </table>
</body>
</html>