<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Reports</title>
{% load staticfiles %}
</head>
<body  background="{% static 'images/smart24.jpg' %}">
<style>
        body{
            text-align: center;
            background-size: cover;
            background-repeat:no-repeat;
        }
    </style>

{% include 'main/head.html' %}<br><br>
{% include 'admin/admin_menu.html' %}<br><br>
{% if not object_list %}

                <center>
                    <font size="5" face="Arial" color="#8b0000">Sorry.. <br>No Payments Are Available</font>
                </center>

            {% else %}


             <table align="center" border="2">
                <tr>
                    <th width="100">Payment_Id</th>
                    <th width="100">Deliver_Id</th>
                    <th width="100">Tender_Idno</th>
                    <th width="100">Payment_Date</th>

                </tr>
            <tr>
                {% for x in object_list%}
                    <td width="100">{{ x.payment_Id}}</td>
                    <td width="100">{{ x.deliver_idno }}</td>
                    <td width="100">{{ x.tender_idno }}</td>
                    <td width="100">{{ x.payment_Id }}</td>

                    </tr>
                {% endfor %}
            </table>
{% endif %}

</body>
</html>