<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Reports</title>
{% load staticfiles %}
</head>
<body  background="{% static 'images/smart24.jpg' %}">
<style>
        body{
            text-align: center;
            background-size: cover;
            background-repeat:no-repeat;
        }
    </style>

{% include 'main/head.html' %}<br><br>
{% include 'admin/admin_menu.html' %}<br><br>
{% if not object_list %}

                <center>
                    <font size="5" face="Arial" color="#8b0000">Sorry.. <br>No Employee Reports Are Available</font>
                </center>

            {% else %}


            <table align="center" border="2">
                <tr>
                    <th width="100">Idno</th>
                    <th width="100">Name</th>
                    <th width="100">Designation</th>
                    <th width="100">Contact_No</th>
                    <th width="100">Email-Id</th>
                    <th width="100">Password</th>

                </tr>
                <tr>
                {% for x in object_list %}
                    <td width="100">{{ x.idno }}</td>
                    <td width="100">{{ x.username }}</td>
                    <td width="100">{{ x.type }}</td>
                    <td width="100">{{ x.contact }}</td>
                    <td width="100">{{ x.email }}</td>
                    <td width="100">{{ x.password }}</td>
                </tr>
                {% endfor %}
            </table>
{% endif %}

</body>
</html>