<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inwards Reports</title>
{% load staticfiles %}
</head>
<body  background="{% static 'images/smart24.jpg' %}">
<style>
        body{
            text-align: center;
            background-size: cover;
            background-repeat:no-repeat;
        }
    </style>

{% include 'main/head.html' %}<br><br>
{% include 'admin/admin_menu.html' %}<br><br>
{% if not object_list %}

                <center>
                    <font size="5" face="Arial" color="#8b0000">Sorry.. <br>No Inwards Are Available</font>
                </center>

            {% else %}


             <table align="center" border="2">
                <tr>
                    <th width="100">Delivery_Id</th>
                    <th width="100">Tender_Id</th>
                    <th width="100">Product</th>
                    <th width="100">Delivery_Date</th>
                    <th width="100">Status</th>

                </tr>

                {% for x in object_list%}
                    <tr>
                    <td width="100">{{ x.deliver_id }}</td>
                    <td width="100">{{ x.tender_id }}</td>
                    <td width="100">{{ x.product_name }}</td>
                    <td width="100">{{ x.deliver_date }}</td>
                    <td width="100">PAID</td>
                    </tr>
                {% endfor %}
            </table>

{% endif %}

</body>
</html>