<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Area Manager Home</title>
{% load staticfiles %}
</head>
<body  background="{% static 'images/smart23.jpg' %}">
<style>
        body{
            text-align: center;
            background-size: cover;
            background-repeat:no-repeat;
        }
    </style>
{% include 'main/head.html' %}<br><br>
{% include 'area manager/area_manager_menu.html' %}<br><br>
<table align="center">
    <tr>
        <th>
           <font size="5" face="Graffiti" color="#8b008b">
            Welcome <br>
               <font size="5" color="#dc143c">Area Manager</font>
               <br>To <br>Smart Inventory<br> Management System
                </font>
        </th>
    </tr>
</table>
</body>
</html>